# Dependencies
node_modules/

# Build output
dist/

# Local Environment & Secrets
.env
.env.local

# Logs & Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
